Hi! This is a report of users activity over the past month.
<br><br>
<table>
    <tr>
        <th>User</th>
        <th>Profit</th>
        <th>Relative profit</th>
        <th>Pairs count</th>
    </tr>

    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.profit }}</td>
            <td>{{ user.get_relative_profit }}</td>
            <td>{{ user.pairs_count }} / {{ pair_min }}</td>
        </tr>
    {% endfor %}
</table>
<br>
Generation date: {{ gen_date }}.