{% load i18n %}
<div class="module" id="status-check-links">
    <h2>Server logs</h2>
    <ul>
        <li><a href="/admin/logs/main/" target="_blank">Main log</a></li>
        <li><a href="/admin/logs/profits/" target="_blank">Profits change log</a></li>
        <li><a href="/admin/logs/finder/" target="_blank">Finder log</a></li>
    </ul>

    <h2>Celery workers logs</h2>
    <ul>
        <li><a href="/admin/logs/default/" target="_blank">Default worker log</a></li>
        <li><a href="/admin/logs/workflow/" target="_blank">Workflow worker log</a></li>
        <li><a href="/admin/logs/repricer/" target="_blank">Repricer worker log</a></li>
    </ul>
</div>