# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

.idea
__pycache__
migrations
secret.json
secret_prod.json
main.log
start.bat
run_broker.py
run_server.py
run_worker.py
