Django==2.0.12
django-crispy-forms==1.7.2
celery==4.3.0
django-celery-beat==1.4.0
psycopg2==2.8.2
psycopg2-binary==2.8.2
unipath==1.1
ebaysdk==2.1.5
mws==0.8.6
numpy==1.16.3
matplotlib==3.1.0
mpld3==0.3
jinja2==2.10.1
lxml==4.3.3
kombu==4.5.0
selenium==3.141.0
requests==2.22.0
keepa==0.18.0
aiohttp==3.5.4
aiodns==2.0.0
cchardet==2.1.4
browseapi==0.12.2