<ul>
    <li>Required.</li>
    <li>All ids for this pair should be unique.</li>
    <li>Please, split ids by '<b>;</b>' delimiter.</li>
    <li>Don’t put delimiter after last id.</li>
    <li>One id length: {{ ebay_ids_length }}.</li>
    <li>Maximum ids count: {{ ebay_ids_max_count }}.</li>
    <li>Seller should accepts return for all items.</li>
    <li>Feedback score should be greater than {{ ebay_min_feedback_score }}.</li>
    <li>Positive feedback percentage should be greater than {{ ebay_min_positive_percentage }}%.</li>
    <li>High end of delivery time for all items should be lower or equal than {{ ebay_max_delivery_time }} days.</li>
    <li>
        Seller of your items should not be blacklisted. <a href="/blacklist/" target="_blank">Sellers blacklist.</a>
    </li>
</ul>

For example: 123456789123;987654321987