{% extends 'main.html' %}
{% block content %}
    <div class="row"><div class="column">
        <table>
            <tr>
                <th>User</th>
                <th>Profit</th>
                <th>Pairs count</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>

                    {% if not user.profit_level %}
                        <td>{{ user.get_relative_profit }}</td>
                    {% else %}
                        <td>{{ user.profit }}</td>
                    {% endif %}

                    <td>{{ user.pairs_count }} / {{ pair_min }}</td>
                </tr>
            {% endfor %}
        </table>
    </div></div>
{% endblock %}