<!doctype html>
{% load static %}
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134538130-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-134538130-1');
        </script>


        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}?{{ version }}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}?{{ version }}"/>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script type="text/javascript" src="{% static 'script.js' %}?{{ version }}"></script>

        <title>AE Pairs</title>
    </head>
    <body>
        <div class="header">
            <h1>AE Pairs</h1>
        </div>

	    <div>
            {% if request.user.is_authenticated and request.user.email_checked %}
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/logout/">Log out ({{ request.user.username }})</a></li>

                    {% if request.user.is_moderator %}
                        <li><a href="/stats/">Graphs</a></li>
                        <li><a href="/stats/users/">Users stats</a></li>
                    {% endif %}

                    <li><a href="/add_pair/">Add pair</a></li>
                    <li><a href="/search/">Search</a></li>
                    <li><a href="/orders/">Orders</a></li>
                </ul>
            {% else %}
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/login/">Log in</a></li>
                    <li><a href="/auth/signup/">Sign up</a></li>
                </ul>
            {% endif %}
	    </div>
        <div style="background-color: #ffffff;">
            {% block content %}{% endblock %}

            <div class="footer">
                <p>All rights reserved. &copy;</p>
            </div>
        </div>
    </body>
</html>