<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script type="text/javascript" src="{% static 'script.js' %}"></script>

        <title>AE Pairs</title>
    </head>
    <body>
        <div class="header">
            <h1>AE Pairs</h1>
        </div>

	    <div>
            {% if user.is_authenticated and user.email_checked %}
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/logout/">Log out ({{ user.username }})</a></li>

                    {% if user.is_moderator %}
                        <li><a href="/stats/">Graphs</a></li>
                        <li><a href="/stats/users/">Users stats</a></li>
                    {% endif %}

                    <li><a href="/add_pair/">Add pair</a></li>
                    <li><a href="/search/">Search</a></li>
                    <li><a href="/orders/">Orders</a></li>
                </ul>
            {% else %}
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth/login/">Log in</a></li>
                    <li><a href="/auth/signup/">Sign up</a></li>
                </ul>
            {% endif %}
	    </div>
        <div style="background-color: #ffffff;">
            {% block content %}{% endblock %}

            <div class="footer">
                <p>All rights reserved. &copy;</p>
            </div>
        </div>
    </body>
</html>